@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-ink: #0B1849;
  --color-primary: #124D1C;
  --color-secondary: #E4B028;
  --color-surface: #EBEDE3;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-surface text-ink;
  }
}